{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/Calendar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <title>Calendar</title>
  </head>
  <body>
    <section class="features-icons bg-light text-center" id="top">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="{% url 'blog:welcome' %}">To Welcome Page</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'blog:attendance' %}">Attendance</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'blog:Calendar' %}">Calendar</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" href="#">Time Table</a></li>
                      <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Academic Stuff</a>
                          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'blog:identity' %}">Identity Proof</a><a class="dropdown-item" role="presentation" href="{% url 'blog:curriculum' %}">Curriculum</a><a class="dropdown-item" role="presentation" href="{% url 'blog:notes' %}">Notes</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="container">
      <div class="calendar">
        <div class="front">
          <div class="current-date">
          </div>

          <div class="current-month">
            <ul class="week-days">
              <li>MON</li>
              <li>TUE</li>
              <li>WED</li>
              <li>THU</li>
              <li>FRI</li>
              <li>SAT</li>
              <li>SUN</li>
            </ul>

            <div class="weeks">
              <div class="first">
                <span class="last-month">26</span>
                <span class="last-month">27</span>
                <span class="last-month">28</span>
                <span class="last-month">29</span>
                <span class="last-month">30</span>
                <span class="last-month">31</span>
                <span id="01" onclick="giveId(this)">01</span>
              </div>

              <div class="second">
                <span id="02" onclick="giveId(02)">02</span>
                <span id="03" onclick="giveId(03)">03</span>
                <span id="04" onclick="giveId(04)">04</span>
                <span id="05" onclick="giveId(05)">05</span>
                <span id="06" onclick="giveId(06)">06</span>
                <span id="07" onclick="giveId(07)">07</span>
                <span id="08" onclick="giveId(08)">08</span>
              </div>

              <div class="third">
                <span id="09" onclick="giveId(09)">09</span>
                <span id="10" onclick="giveId(10)">10</span>
                <span id="11" onclick="giveId(11)">11</span>
                <span id="12" onclick="giveId(12)">12</span>
                <span id="13" onclick="giveId(13)">13</span>
                <span id="14" onclick="giveId(14)">14</span>
                <span id="15" onclick="giveId(15)">15</span>
              </div>

              <div class="fourth">
                <span id="16" onclick="giveId(16)">16</span>
                <span id="17" onclick="giveId(17)">17</span>
                <span id="18" onclick="giveId(18)">18</span>
                <span id="19" onclick="giveId(19)">19</span>
                <span id="20" onclick="giveId(20)">20</span>
                <span id="21" onclick="giveId(21)">21</span>
                <span id="22" onclick="giveId(22)">22</span>
              </div>

              <div class="fifth">
                <span id="23" onclick="giveId(23)">23</span>
                <span id="24" onclick="giveId(24)">24</span>
                <span id="25" onclick="giveId(25)">25</span>
                <span id="26" onclick="giveId(26)">26</span>
                <span id="27" onclick="giveId(27)">27</span>
                <span id="28" onclick="giveId(28)">28</span>
                <span id="29" onclick="giveId(29)" class="event">29</span>
              </div>
            </div>
          </div>
        </div>

        <div class="back">
          <input id ="what" placeholder="What's the event?">
          <div class="info">
            <div class="date">
              <p class="info-date">
              Date: Jan 15th, 2016
              </p>
            </div>
            <input placeholder="Time"></input>
            <div class="observations">
              <p>
                Task: <span>Be there 15 minutes earlier</span>
              </p>
            </div>
          </div>

          <div class="actions">
            <button class="save">
              Save <i class="ion-checkmark"></i>
            </button>
            <button class="dismiss">
              Dismiss <i class="ion-android-close"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="{% static 'assets/js/Calendar.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
  </body>
</html>
