{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static 'assets/css/identity.css' %}">
    <title>Identity </title>
  </head>
  <body>
    <div id="pricing-table" class="clear">
         <div class="plan" id="most-popular">
            <h3>IDENTITY PROOF<span>PHOTO</span></h3>
            <a class="DETAILS"</a>
            <ul>
                <li><b>NAME</b> </li>
                <li><b>BRANCH</b></li>
                <li><b>ROLL NO.</b></li>
    			<li><b>YEAR</b> </li>
            </ul>
           <h4><span>PHOTO</span></h4>
           <h4><span>PHOTO</span></h4>
  </body>
</html>
